*{
    padding: 0;
    margin: 0;
}

:root {
  --color-bg: #0b1220;       /* app background */
  --color-surface: #131b2d;  /* cards & sections */
  --color-primary: #3d5069;  /* main buttons & highlights */
  --color-accent: #7487a0;   /* secondary buttons & borders */
  --color-text: #e3e4e2;     /* main text */
  --color-text-muted: rgba(227,228,226,0.6); /* faded text */
}

body {
  font-family: "Inter", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}

.title{
    margin: 4rem ;
    text-align: center;
    letter-spacing: 2px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.week{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 5rem;
}

.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 1.2rem;
}

input[type="radio"]{
    accent-color: var(--color-primary);
    font-size: 2rem;
    outline: none;
    transform: scale(1.6);
    cursor: pointer;
}

.habit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.fa-rocket{
    font-size: 6rem;
    margin-bottom: 3rem;
    background-color: var(--color-surface);
    padding: 2rem;
    border-radius: 5rem;
    cursor: pointer;
}

.habit-container button{
    margin-top: 1rem;
    font-size: 0.9rem;
    padding: 0.8rem 1rem;
    background-color: #4a90e2;
    color: var(--color-text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}

.habit-container button:hover{
    background-color: #4a91e2c9;
}

.habit-container button:active{
    background-color: #4a91e29a;
    transition: 0.18s all ease-in-out;
    transform: scale(0.95);
}

.add-habit-page{
    display: none;
}

.home-button{
    border: none;
    cursor: pointer;
    font-size: 1.75rem;
    color: var(--color-text);
    background-color: var(--color-bg);
    transition: 0.25s all ease-in-out;
    margin: 1.5rem;
}

.home-button:hover{
    color: rgba(255, 255, 255, 0.753);
}

.home-button:active{
    color: rgba(255, 255, 255, 0.632);
    transform: scale(0.97);
}


/*--------------------Home page--------------------*/



.add-habit-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.habit-type{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.habit-type p{
    font-weight: bold;
    font-size: 1.15rem;
}

.habit-type-container{
    display: flex;
    border-radius: 3rem;
    margin-top: 1rem;
}

.habit-type-container input{
    display: none;
}

.habit-type-container label{
    cursor: pointer;
}

.build-habit, .quit-habit{
    width: 6rem;
    padding: 0.8rem;
    border-radius: 1rem 0 0 1rem;
    background-color: #4a90e2;
    transition: 0.3s all ease-in-out;
    font-size: 0.85rem;
}

.quit-habit{
    border-radius: 0 1rem 1rem 0;
    background-color: #E24A36;
}

.build-habit:hover{
    background-color: #3280daf4;
}

.quit-habit:hover{
    background-color: #e14631e8;
}

#habit-name{
    border: none;
    padding: 0.75rem 5rem 0.75rem 0.75rem;
    text-align: start;
    outline: none;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--color-bg);
}

#habit-name::placeholder{
    color: var(--color-bg);
}

.recommended-habits{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.recommended-habits p{
    font-size: 1.15rem;
    font-weight: bold;
}

.recommended-habits-build, .recommended-habits-quit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.85rem;
    width: 100%;
    margin-top: 3rem;
}

.recommended-habits-quit{
    display: none;
}

.habit-build-btn, .habit-quit-btn{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.4rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.880);
    cursor: pointer;
}

.habit-build-btn:hover, .habit-quit-btn:hover{
    background-color: rgba(255, 255, 255, 0.780);
    transition: 0.35s all ease-in-out;
}

.habit-build-btn:active, .habit-quit-btn:active{
    background-color: rgba(255, 255, 255, 0.700);
    transform: scale(0.95);
    transition: 0.15s all ease-in-out;
}

.habit-emoji{
    font-size: 1.15rem;
    margin-right: 0.35rem;
}